/*-------CSS for Admin End-------*/

.container-fluid.wl_agm_container {
    padding-left: 0px;
}

.product_header.wl-agm_plugin_top.col-md-12 {
    background-color: #23282d;
    color: #fff;
    padding: 9px;
    margin-top: 1%;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.28);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.product_header.wl-agm_plugin_top.col-md-12:hover {
    box-shadow: 0 11px 28px rgba(0, 0, 0, 0.25), 0 8px 10px rgba(0, 0, 0, 0.22);
}

.product_name.wl-agm-title-plugin {
    font-size: 20px;
    font-weight: 600;
    color: #1fe6ff;
}

.wl-agm_plugin_top .product_header_desc {
    display: inline-block;
}

.wl-agm-title-plugin span.fc-badge {
    background-color: #fff;
    padding: 2px 9px;
    border-radius: 26px;
    font-size: 14px;
    margin-left: 9px;
    color: #000;
}

.wl-agm_settings.col-md-12 {
    margin-top: 1%;
    background-color: #e8edf3;
    padding: 10px;
    border-top: 2px solid #23282d;
}

.col-md-12.col-xs-12.wl-agm-setting-title {
    padding-left: 0;
    padding: 6px 10px;
    border-left: 2px solid;
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: -o-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.product_name.wl-agm-title-setting {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

.col-md-12.settings_form {
    margin-top: 2%;
}

.col-md-6.col-xs-12.wl-agm-banner-image {
    padding: 0;
}

.wl-agm_settings .form-check-label {
    margin-top: 12px;
}

.custom_btn_wl_agm {
    border-radius: 34px;
    font-size: 17px;
    padding: 9px 22px;
    font-weight: 500;
    background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3) !important;
    background: -o-linear-gradient(50deg, #2096ff, #05ffa3) !important;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    border: 0;
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Dashboard Css */
#dashboard_cards .card {
    width: 100%;
    min-height: 400px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 0;
    border: 0;
}

#dashboard_cards .card:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .2);
}

#dashboard_cards .card .box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

#dashboard_cards .counter {
    width: 132px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
    background: -o-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

#dashboard_cards span.count.text-bold.text-center {
    font-size: 76px;
    font-weight: 500;
    color: #fff;
}

#dashboard_cards .card .box h2 {
    font-size: 20px;
    color: #262626;
    margin: 20px auto;
}

#dashboard_cards .card .box p {
    color: #262626;
}

#dashboard_cards .card .box span {
    display: inline-flex;
}

#dashboard_cards .card .box ul {
    margin: 0;
    padding: 0;
}

#dashboard_cards .card .box ul li {
    list-style: none;
    float: left;
}

#dashboard_cards .card .box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

#dashboard_cards .card .box ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 5px;
    cursor: pointer;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.blue-gradient-cstm {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: -o-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
    color: #fff;
    border: 0;
    padding: 6px 30px;
}

.orange-gradient-cstm {
    background: -webkit-linear-gradient(50deg, #ffd86f, #fc6262) !important;
    background: -o-linear-gradient(50deg, #ffd86f, #fc6262) !important;
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    color: #fff;
    border: 0;
    padding: 6px 20px;
}

.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

a.btn.btn-floating.waves-effect {
    color: #fff;
}

p.last_update_agm {
    font-weight: 500;
}

p.last_update_agm span {
    font-style: italic;
    margin-left: 8px;
}

p.last_update_agm span:hover {
    background: -webkit-linear-gradient(40deg, #45cafc, #303f9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-media-links.text-right a {
    background-color: #fff;
    padding: 6px;
    font-size: 13px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.wl_agm_lite_help.col-md-12 {
    margin-top: 1%;
    padding: 0;
}

.wl_agm_lite_help .wl-agm_settings.col-md-8 {
    padding-left: 0;
}

.wl_agm_lite_help .wl-agm_settings.col-md-4 {
    padding-right: 0;
}

.wl_agm_steps p {
    font-size: 16px;
}

.col-md-12.col-xs-12.wl_agm_steps {
    margin-top: 1%;
    padding: 0;
}

.wl_agm_steps h4.title {
    font-size: 21px;
    color: #41aee9;
    font-weight: 700;
    margin-top: 1%;
    background-color: #e8edf3c4;
    padding: 10px;
    border-top: 2px solid #23282d;
}

img.wl_agm_banner.img-responsive {
    width: 100%;
}

/* Banner */
.col-md-12.pro_banner {
    margin-top: 1%;
    padding: 0;
}

.pro_banner .col-md-12.col-xs-12.wl-agm-setting-title {
    margin-bottom: 1%;
}

.wl-agm-banner-image img.img-fluid {
    width: 100%;
}

.wl-agm-banner-text {
    padding: 2%;
}

.wl-agm-banner-text p {
    font-size: 17px;
}

.wl-agm-banner-text h1 {
    color: #43c2f7;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 3px 4px 4px #d5d3d3;
}

@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        position: relative;
        margin-left: 0;
        padding-left: 0;
    }

    .container-fluid.wl_agm_container {
        padding: 0px;
    }

    .wl_agm_lite_help .wl-agm_settings.col-md-8 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .wl_agm_lite_help .wl-agm_settings.col-md-4 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-md-12.col-xs-12.wl_agm_steps {
        margin-top: 1%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media(max-width:480px) {
    .social-media-links.text-right {
        text-align: center !important;
    }

    .product_name.wl-agm-title-plugin {
        font-size: 18px;
        text-align: center;
        margin-bottom: 16px;
    }

    .product_header.wl-agm_plugin_top.col-md-12 {
        padding-bottom: 15px;
    }

    .col-sm-4.social_media_area.pull-right {
        float: none;
    }
}

.wl-agm-anch {
    color: #fff;
    text-decoration: none;
}

.wl-agm-anch:hover {
    color: #fff !important;
    text-decoration: none !important;
}