input#map_search {
    width: 76%;
    margin-top: 10px;
}
.col-md-12.col-xs-12.wl-agm-setting-title {
    padding-left: 0;
    padding: 6px 10px;
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    border-left: 2px solid;
}
.product_name.wl-agm-title-setting {
	color: #fff;
    font-size: 21px;
    font-weight: 500;
    font-family: -webkit-pictograph;
    padding: 4px;
}
.control_settings_div {
    margin-top: 20px;
}
#map_admin{ height: 400px; }
#map_route{ height: 500px; }

.route_map_preview .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.route_map_preview #origin-input,
 .route_map_preview  #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

.route_map_preview #origin-input:focus,
  .route_map_preview #destination-input:focus {
    border-color: #4d90fe;
}

.route_map_preview #mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}

.route_map_preview #mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0px;
}
.postbox {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    border-radius: 4px;
}
h2.hndle.ui-sortable-handle {
    color: #fff;
    padding: 10px!important;
    font-size: 18px!important;
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    border-bottom: 0;
}
.js .postbox .handlediv .toggle-indicator:before {
    color: #fff;
}
.wl_agm.container label.col-form-label {
    font-size: 15px;
    color: #4b4b4b;
    font-weight: 500;
}
.postbox .inside {
    margin-top: 25px;
}
.postbox .inside {
    margin-top: 25px!important;
}
.wl_agm span.form-check-label {
    color: #959292;
    margin-left: 12px;
    font-style: italic;
    font-size: 14px;
}
.wl_agm span.form-check-label:hover {
    background: -webkit-linear-gradient(40deg,#45cafc, #303f9f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom_toggle_checkbox input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.custom_toggle_checkbox label {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 26px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.custom_toggle_checkbox label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 17px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.custom_toggle_checkbox input:checked + label {
    background: #bada55;
}

.custom_toggle_checkbox input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.custom_toggle_checkbox label:active:after {
    width: 18px;
}
#wl_agm_map_meta3 table.dataTable tbody tr.selected {
    background-color: #397dc8!important;
    color: #fff!important;
}
#title{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    border-radius: 4px;
}
#wl_agm_map_meta3 .wl_agm th.sorting {
    border: 0!important;
    background: #1c2331!important;
    color: #fff;
}
#wl_agm_map_meta3 .wl_agm tfoot th {
    border: 0!important;
    background: #1c2331!important;
    color: #fff;
}
#wl_agm_route_meta table.dataTable tbody tr.selected {
    background-color: #397dc8!important;
    color: #fff!important;
}
#wl_agm_route_meta .wl_agm th.sorting {
    border: 0!important;
    background: #1c2331!important;
    color: #fff;
}
#wl_agm_route_meta .wl_agm tfoot th {
    border: 0!important;
    background: #1c2331!important;
    color: #fff;
}
a.paginate_button.current {
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    color: #fff!important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    border: none!important;
    margin-bottom: 13px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff!important;
}
span.wp-color-result-text {
    background-color: #ffffff;
    padding: 1px 5px;
    color: #23282d;
    border-radius: 19px 0px 0px;
}
.wp-picker-container .wp-color-result.button {
    height: 34px!important;
    padding: 0 0 0 38px!important;
    font-size: 12px!important;
    border: 0;
}
#custom_bg_color {
    padding: 0px 5px;
    border-radius: 7px 0px 7px 0px;
}
input.button.button-small.wp-picker-clear {
    border: 0;
    background-color: #ffffff;
    padding: 0px 15px;
    height: auto;
    font-size: 13px;
    margin-left: 6px;
    border-bottom: 0;
    border-color: #ccc;
    box-shadow: 2px 2px 3px 1px #76788073;
}
/* Interactive Map's Css */
.wl_agm .insert_region .custom_region {
    margin-bottom: 14px;
    color: #fff!important;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.16), 2px 3px 10px 0 rgba(0,0,0,.12);
}
.custom_action_btn
{
    color: #fff!important;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.16), 2px 3px 10px 0 rgba(0,0,0,.12);
    margin-right: 3px;
}
#wl_agm_interactive_meta .wl_agm th.sorting, 
#wl_agm_interactive_meta .wl_agm th.sorting_asc, 
#wl_agm_interactive_meta .wl_agm th.sorting_desc {
    border: 0!important;
    background: #1c2331!important;
    color: #fff;
}
#wl_agm_interactive_meta .wl_agm tfoot th {
    border: 0!important;
    background: #1c2331!important;
    color: #fff;
}
input[type="search"] {
    border: 1px solid #44c5f8;
    padding: 6px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.16), 2px 3px 10px 0 rgba(0,0,0,.12);
    margin-right: 7px;
}
.wl_agm .form-control {
    border: 1px solid #44c5f8;
    padding: 6px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.06), 2px 3px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 6px;
}
.wl_agm .custom-select {
    border: 1px solid #44c5f8;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.06), 2px 3px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 6px;
    padding: 0 15px;
}
.dataTables_length select {
    border: 1px solid #44c5f8;
    padding: 0px 21px;
    padding-left: 10px;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.16), 2px 3px 10px 0 rgba(0,0,0,.12);
}
#data_table_region .insert_region {
    margin-top: 1%;
}
#wl_agm_interactive_meta .wl-agm-setting-title {
    margin-bottom: 12px;
}
.wl_agm.wl_agm_container {
    padding-left: 10px;
    padding-right: 10px;
}
.button-secondary.button {
    padding: 6px 51px;
    box-shadow: 3px 2px 5px 0 rgba(0, 0, 0, 0.06), 2px 3px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    font-size: 15px;
}